<%- include("./partials/head.ejs")%>
<%- include("./partials/header.ejs")%>
<!------------------------------------------------------------>



<div class="container-fluid" id="colorF">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Vinos</h2>
        </div>
        <% products.forEach(product => { %>
            <div class="col-12 col-sm-6 col-lg-3">
                <a href="/products/detail/<%= product.id %>">
                    <section class="product-box">
                        
                        <figure class="product-box_image">
                            <img class= 'productImage' src="/images/productos/<%= product.imagen%>" alt="imagen de producto">
                        </figure>
                        <article class="product-box_data">
                            <h2>$<%= product.precio %></h2>
                            <p><%= product.nombre %></p>
                            <i class=" fa fa-cart-plus fa-2x"></i>
                        </article>
                        
                    </section>
                </a>
            </div>
            <% }); %>
        </div>
        
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <!------------------------------------------------------------>
    <%- include("./partials/footer.ejs")%></div>